
{%- import '_macros/atomic' as atoms -%}


{{ entry.title }}

{% block headLinks %}
    {% set image = entry.imageContent.collect.first %}
    {{ image.imageContentOptimized.linkPreloadTag().render() }}
{% endblock headLinks %}


  <div class="">
  {%- include '_organisms/grids/grid--blog' with {
      cards: craft.entries.section('blog').eagerly().collect.all(),
  } -%}
  </div>